<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SqlConnectionString" connectionString="Data Source=DESKTOP-F9TGDL5\SQLEXPRESS;Initial Catalog=QUANLYKHO_NGUYENVANLONG;Integrated Security=True" />
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
</configuration>